<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="border-bottom border-gray pb-2 mb-0">Users</h3>
    <% @users.each do |user| %>
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark"><%= user.email %></strong>
          <span><%= link_to  "View", user_path(user) %></span>
        </div>
      </div>
    </div>
    <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy)  %>
